<p style="color: green"><%= notice %></p>

<% content_for :title, "Works" %>

<h1>Work list</h1>

<%= turbo_frame_tag 'work_form' do %>
  <%= render 'form', work: Work.new %>
<% end %>

<%= turbo_frame_tag 'works_list' do %>
  <%= render @works %>
<% end %>
